[MASTER]
ignore=venv
jobs=1

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903

[FORMAT]
max-line-length=88
indent-string='    '

[BASIC]
variable-rgx=[a-z_][a-z0-9_]{0,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
argument-rgx=[a-z_][a-z0-9_]{0,30}$

[DESIGN]
max-args=5

[LOGGING]
logging-modules=logging

[SIMILARITIES]
min-similarity-lines=4

[IMPORTS]
known-standard-library=numpy,logging

[TYPECHECK]
generated-members=numpy.*

[REPORTS]
output-format=colorized

[ERRORS]
logging-format-interpolation=warn
overgeneral-exceptions=warn

[VARIABLES]
dummy-variables-rgx=_|dummy

[SIMILARITIES]
min-similarity-lines=10

[FORMAT]
string-quote-check = 'double'
max-locals=10
max-returns=6
max-branches=12
max-statements=50
