{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react(.*)$",
    "^react-dom$",
    "<THIRD_PARTY_MODULES>",
    "^[./]*(routes|pages)(/.*|$)",
    "^[./]*(components|hooks|contexts|utils|services|handlers)(/.*|$)",
    "^[./]*(constants|data)(/.*|$)",
    "^[./]*localization(/.*|$)",
    "^[./]*styles(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}